<footer class="w3-container w3-theme-d3 w3-padding-16">
  <a href=""><i class="fab fa-linkedin"></i></a>
  <a href=""><i class="fab fa-twitter-square"></i></a>
  <a href=""><i class="fab fa-google-plus"></i></a>
  <div class="nav">
      <a (click)="showContent('security')">Security</a> 
      <a (click)="showContent('privacy')">Privacy</a> 
      <a (click)="showContent('cookies')">Cookies</a> 
      <a (click)="showContent('tandc')">Terms &amp; conditions</a> 
  </div>
</footer>
<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.rosariodiaferia.com" target="_blank" class="developer">Rosario Diaferia</a></p>
</footer>