@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    .w3-card-4 {
        width: 50%;
        margin: 20px 0;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        
        table {
            margin: 20px 0;
        }
    }

    .w3-hover-shadow:hover {
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    }

    .w3-blue, .w3-hover-blue:hover {
        color: $cardBandTextWhiteColor;
        background-color: $cardBandBgBlueColor;
    }

    .w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
        background-color: $cardBandBgGrayColor !important;
    }

    .w3-container, .w3-panel {
        padding: 0 16px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 400;
        margin: 10px 0;
    }

    h1 {
        display: block;
        font-size: 2em;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }

    h5 {
        font-size: 18px;
    }

    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    .btn {
        text-align: right;
        
        button {
            border: 1px solid $cardButtonBorderGrayColor;
        }
    }
}
