.button1 {background-color: $buttonGreen;}
.button2 {background-color: $buttonBlue;}
.button3 {background-color: $buttonRed;}
.button4 {background-color: $buttonGray; color: $buttonTextColorBlack;} 
.button5 {background-color: $buttonBlack;}