.container {
    padding: 20px;

    .accordionWrapper, .serviceResponse {
        float: left;
    }
    
    .serviceResopnse {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .container .w3-card-4 {
        width: 90%;
    }
}