// -- VARIABLES ----------------------------------- 
// -- GLOBAL
$globalFontFamily: 'Open-sans',Arial,sans-serif;
$globalBgColor: #fafafa;
$serviceSuccessfullyResponseMsg: #008000;
$serviceFailResponseMsg: #ff0000;

// -- ACCORDION
$accordionWrapperBgColor: #ffffff;
$accordionHeadingBgColor: #f8bc04;
$accordionHeadingColor: #ffffff;
$accordionHeadingLinearGradientColor1: #f8bc04;
$accordionHeadingLinearGradientColor2: #ffc500;
$accordionHeadingTextShadow: #999999;
$accordionItemContentBgColor: #dedede;
$accordionItemContentBorderColor: #dddddd;

// -- BUTTON
$buttonBg: #454db1;
$buttonTextColor: #ffffff; 
$buttonLinearGradientColor1: #454db1;
$buttonLinearGradientColor2: #625ab1;
$buttonAddSkill: #222222;
$buttonDeleteSkill: #ff0000;
$buttonClearFields: #999999;

$buttonGreen: #4CAF50;
$buttonBlue: #008CBA;
$buttonRed: #f44336;
$buttonGray: #e7e7e7;
$buttonBlack: #555555;
$buttonTextColorBlack: #000000;
$buttonTextColorWhite: #ffffff;

// -- INPUT
$formElementTextColor: #999999;
$formInputAlertTextColor: #ff0000;

// -- TABLE
$TableTHBgColor: #222222;
$TableTHTextColor: #ffffff;
$TableTDBgColor: #f8bc04;

// -- NAVIGATION
$backgroundColor1: #f5f7f8;
$backgroundColor2: #dfe5e8;
$backgroundColor3: #becbd2;
$backgroundColor4: #9eb1bb;
$backgroundColor5: #7d97a5;
$backgroundColor6: #57707d;
$backgroundColor7: #4d636f;
$backgroundColor8: #435761;
$backgroundColor9: #3a4b53;
$backgroundColor10: #303e45;
$themeWhite: #ffffff;
$themeBlack: #000000;
$themeLight: #f5f7f8;
$themeDark: #303e45;
$themeAction: #303e45;
$themeLightTextColor: #000;
$themeDarkTextColor: #fff;
$themeActionTextColor: #fff;
$themeBg: #607d8b;
$themeColor: #fff;
$themeGreyTextColor: #607d8b;
$themeBorderColor: #607d8b;
$themeHoverColor: #ffffff;
$themeHoverBgColor: #607d8b;
$themeHoverTextColor: #607d8b;
$themeHoverBorderColor: #607d8b;


// -- TABLE
$tableTHBorderColor: #dddddd;
$tableTRBorderColor: #dddddd;

// -- CARDS
$cardBandTextWhiteColor: #ffffff;
$cardBandBgBlueColor: #2196F3;
$cardBandBgGrayColor: #e7e7e7;
$cardButtonBorderGrayColor: #dddddd;

// -- TAB
$TabBorderColor: #f44336;
$TabContainerBgColor: #fafafa;
$TabContainerBorderColor: #eeeeee;

// -- ALERT FORM
$AlertFormBgColor: #d8eaf5;

// -- SLIDESHOW
$slideShowNavCntrlColor: #222;
$slideShowNavCntrlBgHover: #ddd;
$slideShowCaptionTextColor: #f2f2f2;
$slideShowDotNav: #bbb;
$slideShowDotNavState:#717171;
