// -- VARIABLES ----------------------------------- 
// -- GLOBAL
$globalFontFamily: 'Open-sans',Arial,sans-serif;
$globalBgColor: #fafafa;
$serviceSuccessfullyResponseMsg: #008000;
$serviceFailResponseMsg: #ff0000;

// -- ACCORDION
$accordionWrapperBgColor: #ffffff;
$accordionHeadingBgColor: #f8bc04;
$accordionHeadingColor: #ffffff;
$accordionHeadingLinearGradientColor1: #f8bc04;
$accordionHeadingLinearGradientColor2: #ffc500;
$accordionHeadingTextShadow: #999999;
$accordionItemContentBgColor: #dedede;
$accordionItemContentBorderColor: #dddddd;

// -- BUTTON
$buttonBg: #454db1;
$buttonTextColor: #ffffff; 
$buttonLinearGradientColor1: #454db1;
$buttonLinearGradientColor2: #625ab1;
$buttonAddSkill: #222222;
$buttonDeleteSkill: #ff0000;
$buttonClearFields: #999999;

$buttonGreen: #4CAF50;
$buttonBlue: #008CBA;
$buttonRed: #f44336;
$buttonGray: #e7e7e7;
$buttonBlack: #555555;
$buttonTextColorBlack: #000000;
$buttonTextColorWhite: #ffffff;

// -- INPUT
$formElementTextColor: #999999;
$formInputAlertTextColor: #ff0000;

// -- TABLE
$TableTHBgColor: #222222;
$TableTHTextColor: #ffffff;
$TableTDBgColor: #f8bc04;

// -- NAVIGATION
$navBgColor: #333;
$navItemBorderRightColor: #bbb;
$navItemTextColor: #fff;
$navItemNotActive: #111;
$navItemActive: #4CAF50;

// -- TABLE
$tableTHBorderColor: #dddddd;
$tableTRBorderColor: #dddddd;

// -- CARDS
$cardBandTextWhiteColor: #ffffff;
$cardBandBgBlueColor: #2196F3;
$cardBandBgGrayColor: #e7e7e7;
$cardButtonBorderGrayColor: #dddddd;