@import '../../../../styles/variables.scss';

.cv-upload {
    .w3-button {
        width: 100px;
        display: inline-block;
    }
    span {
        display: inline-block;
        margin: 0 10px;
    }
    label {
        display: inline-block;
        width: 130px;
        font-weight: bold;
    }
    .w3-input-container {
        display: inline-block;
        .w3-input {
            width: auto;
            display: inline-block;
        }
    }

    .filter-options {
        margin-top: 10px;
        display: inline-block;

        label {
            width: auto;
            font-weight: normal;
        }

        span {
            display: inline-block;
            background-color: $AlertFormBgColor;
            padding: 10px;
            margin: 0;
        }
    }

    small {
        display: block;
        margin-top: 5px;
    }

    select {
        padding: 10px;
    }
}