@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.thank-you-container {
    text-align: center;
    margin-top: 20px;
    .header {
        font-size: 2em;
        font-weight: bold;
    }

    .message {
        margin-top:10px
    }

    table {
        width: 100%;
        margin-top: 20px;
        
        th { 
            background-color: $TableTHBgColor; 
            color: $TableTHTextColor;
            padding: 5px;
        }

        td {
            background-color: $TableTDBgColor;
            padding: 5px;
        }
    }
}