@import '../../styles/variables.scss';
.container {
    .w3-container {
        background: $TabContainerBgColor;
        border: 1px solid $TabContainerBorderColor;
    }

    .w3-row {
        margin-bottom: 20px;
    }

    .w3-button {
        width: 150px;
    }
}