<div class="container">
  <div class="w3-row">
    <div class="w3-col">
      <button (click)="setAccordionStatus('section1')" class="w3-btn w3-block w3-black w3-left-align" id="tab1">Change Email Address</button>
      <div id="section1" class="w3-container w3-hide">
        <h4>Section 1</h4>
        <p>Some text..</p>
      </div>
    </div>

    <div class="w3-col">
      <button (click)="setAccordionStatus('section2')" class="w3-btn w3-block w3-black w3-left-align" id="tab2">Change Password</button>
      <div id="section2" class="w3-container w3-hide">
        <h4>Section 2</h4>
        <p>Some text..</p>
      </div>
    </div>
  </div>
</div>
