@import '../../styles/variables.scss';

.w3-top {
    .w3-circle {
        height:23px;
        width:23px;
    }
    .w3-dropdown-content {
        width: 300px;
    }
    .loggedin {
        font-size: 0.9em;
    }
}
