<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" (click)="openNav()"><i class="fa fa-bars"></i></a>
    <a routerLinkActive="w3-theme-d4" routerLink="/home" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-home w3-margin-right"></i><!--Logo--></a>
    <a routerLinkActive="w3-theme-d4" id="item-2" routerLink="/profiles" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
    <a routerLinkActive="w3-theme-d4" id="item-3" routerLink="/account-settings" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-cog"></i></a>
    <a routerLinkActive="w3-theme-d4" href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
    <a routerLinkActive="w3-theme-d4" href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="#" id="content_0" class="w3-bar-item w3-button">One new friend request</a>
        <a href="#" id="content_1" class="w3-bar-item w3-button">John Doe posted on your wall</a>
        <a href="#" id="content_2" class="w3-bar-item w3-button">Jane likes your post</a>
      </div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
      <img src="/assets/img/avatar2.png" class="w3-circle" alt="Avatar">
    </a>
  </div>
</div>

<!-- Navbar on small screens -->
<div [ngClass]="{ 'w3-show w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large': responsiveNav }">
  <a routerLinkActive="w3-theme-d4" routerLink="/home" class="w3-bar-item w3-button w3-padding-large" id="small-screen-item-1">Home</a>
  <a routerLinkActive="w3-theme-d4" routerLink="/profiles" class="w3-bar-item w3-button w3-padding-large" id="small-screen-item-2">Profile</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" id="small-screen-item-3">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" id="small-screen-item-4">My Profile</a>
</div>
