.dashboard {
    margin-top:20px;

    .w3-container {
        max-width: 100%;

        .m7 {
            .w3-card {
                margin-bottom: 10px;

                ul {
                    li {
                        a {
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        .job-applied {
            padding-top: 20px;
            h3 {
                display: block;
            }

            img {
                width: 60px;
            }
        }
    }

    .right-column {
        .w3-card {
            margin-bottom: 10px;
        }
        .fa-envelope {
            font-size: 30px;
        }
    }
}
