// -- VARIABLES ----------------------------------- 
// -- GLOBAL
$globalFontFamily: 'Open-sans',Arial,sans-serif;
$globalBgColor: #d2e1ff;

// -- ACCORDION
$accordionWrapperBgColor: #ffffff;
$accordionHeadingBgColor: #f8bc04;
$accordionHeadingColor: #ffffff;
$accordionHeadingLinearGradientColor1: #f8bc04;
$accordionHeadingLinearGradientColor2: #ffc500;
$accordionHeadingTextShadow: #999999;
$accordionItemContentBgColor: #dedede;
$accordionItemContentBorderColor: #dddddd;

// -- BUTTON
$buttonBg: #454db1;
$buttonTextColor: #ffffff; 
$buttonLinearGradientColor1: #454db1;
$buttonLinearGradientColor2: #625ab1;

// -- INPUT
$formElementTextColor: #999999;
$formInputAlertTextColor: #ff0000;

// -- TABLE
$TableTHBgColor: #222222;
$TableTHTextColor: #ffffff;
$TableTDBgColor: #f8bc04;

// -- TAB
$TabBorderColor: #f44336;